#header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    .navlinks {
      .lists {
        display: flex;
        align-items: center;
        column-gap: 50px;
        li {
          position: relative;
          .navlink {
            color: #000;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            &.active {
              color: #ae1f31;
            }
          }
          .services_links {
            position: absolute;
            top: 40px;
            left: -110px;
            width: 380px;
            background: #f8f8f8;
            border: 1px solid #e8e8e8;
            box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.12);
            padding: 5px 17px;
            z-index: 999;
            border-radius: 8px;
            li {
              border-radius: 7px;
              background: #e5e5e5;
              padding: 12px 15px;
              width: 100%;
              margin: 10px 0;
              a {
                color: #000;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .mobile_header {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .logo_icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1680px;
      margin: 0 auto;
      padding: 0 20px;
      a {
        img {
          margin-left: -30px;
        }
      }
      .menubar {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ae1f31;
        width: 50px;
        height: 40px;
        border-radius: 8px;
        padding: 8px 12px;
        cursor: pointer;
      }
    }
    .header_content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      
      .contents {
        .logo_icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .menubar {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ae1f31;
            width: 50px;
            height: 40px;
            border-radius: 8px;
            padding: 8px 12px;
            cursor: pointer;
          }
        }
        .mobile_navlinks {
          padding-left: 15px;
          max-width: 1680px;
      margin: 0 auto;
      padding: 0 20px;
          .navlists {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            li {
              .navlink {
                color: rgba(0, 0, 0, 0.44);
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                cursor: pointer;
              }
              .services_links {
                padding: 5px 0;
                border-radius: 8px;
                li {
                  border-radius: 7px;
                  background: #e5e5e5;
                  padding: 12px 15px;
                  width: 100%;
                  margin: 10px 0;
                  a {
                    color: rgba(0, 0, 0, 0.66);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                    display: block;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .contact_btn {
        margin-bottom: 30px;
      padding: 0 20px;
      }
    }
  }
  @media screen and (max-width: 1280px) {
    .header {
      .navlinks {
        .lists {
          column-gap: 30px;
        }
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .header {
      .navlinks {
        .lists {
          column-gap: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 996px) {
    .header {
      display: none;
    }
    .mobile_header {
      display: block;
    }
  }
}
