.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: #ae1f31;
  border-radius: 100px;
  padding: 15px 48px;
  transition: 0.3s;
  border: 0;
  cursor: pointer;
  span {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
